main {
  width: 100%;
  display: flex;
  gap: 10px;
  max-width: 1100px;
  margin: 40px auto;
}
.taskform {
  border: 1px solid black;

  padding: 10px;
  height: 120px;
  border-radius: 5px;
}
.tasks {
  width: 62%;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  height: 100vh;
  overflow: auto;
}
#taskInput,
#taskBtn {
  padding: 8px 12px;
  font-size: 20px;
}
.tasks ul {
  list-style: none;
  padding: 0;
}

.tasks li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tasks span {
  font-weight: bold;
  color: #333;
  margin-top: 7px;
  display: block;
}

.tasks p {
  font-style: italic;
  color: #666;
}

@media (max-width: 768px) {
  .tasks {
    width: 100%;
    height: auto;
  }

  main {
    flex-direction: column;
    align-items: stretch;
  }
}
